.ad-builder {
  max-width: 1000px;
  width: 100%;
  .drag-n-drop {
    height: 0;
    overflow: hidden;
    padding-top: 591.44px / 1127.34px * 100%;
    background-color: gray;
  }
}

@media screen and (max-width: 991px) {
}
