.trivia {
  > div {
    position: absolute;
    z-index: 2;
    //height: 100%;
    //height: calc(100vh - 70px);
    width: 100%;
    bottom: 0;
    left: 0;
    color: #fff;
    border-radius: 0;
    padding: 20px 0;

    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    //background: #000;
    //background: linear-gradient(rgba(245, 246, 252, 0), rgba(117, 19, 93, 0.73));
    background: linear-gradient(rgba(245, 246, 252, 0), rgb(117 19 93));

    .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      > div {
      }
      .left {
      }

      .right {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .close {
          cursor: pointer;
          font-size: 21px;
          color: #16a4fa;
        }
      }
    }

    .component-container {
      -webkit-box-flex: 0;
      -webkit-flex: none;
      -ms-flex: none;
      flex: none;
      min-width: 90%;
      max-width: 90%;

      h2 {
        font-size: 1.2em;
      }
    }

    ul {
      padding-inline-start: 0;
    }

    li {
      position: relative;
      height: 40px;
      width: 100%;
      list-style: none;
      border-radius: 25px;
      border: 2px solid #ffffffb3;
      overflow: hidden;
      margin-bottom: 10px;

      -webkit-transition: all 0.2s;
      -webkit-transition-timing-function: ease-in-out;
      transition: all 0.2s;
      transition-timing-function: ease-in-out;

      &:hover {
        cursor: pointer;
      }

      label,
      .poll li div,
      svg {
        position: absolute;
        height: 100%;
      }

      svg {
        right: 2%;
      }

      label {
        z-index: 1;
        line-height: 40px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
      }

      h2 {
        font-weight: 900;
        text-transform: capitalize;
      }

      .title {
        left: 2%;
      }

      .value {
        right: 5.5%;
      }

      .bar {
        -webkit-transition: all 0.2s;
        -webkit-transition-timing-function: ease-in-out;
        transition: all 0.2s;
        transition-timing-function: ease-in-out;
        border-radius: 25px;
        z-index: 0;
        top: 0;
        background: #00cbff;
        cursor: pointer;
        height: 100%;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    li:nth-child(1) .bar {
      background: #41b2ec;
    }
    li:nth-child(2) .bar {
      background: #f3ad3b;
    }
    li:nth-child(3) .bar {
      background: #8dd14f;
    }
    li:nth-child(4) .bar {
      background: #f73b63;
    }
  }

  .response {
    float: right;
  }

  &.active {
    li {
      &:hover {
        background: black;
        border-color: black;
      }
    }
  }

  &.inactive {
    li {
      border: 2px solid transparent;

      &.correct {
        .bar {
          background: #8dd14f !important;
        }
      }

      &.incorrect {
        .bar {
          background: #f73b63 !important;
        }
      }

      .bar {
        background: gray !important;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .App .trivia {
    > div {
      height: calc(35vh);
      width: 100%;
      min-height: 35vh;
      h2 {
        font-size: 0.9em;
      }
    }
  }
}
